################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0
/obj
/src/OrderAccumulator.Contracts/obj
/src/OrderAccumulator.Contracts/bin/Debug/net8.0
/src/OrderAccumulator.Infrastructure/obj
/src/OrderAccumulator.Tests/obj
/src/OrderAccumulator.Infrastructure/bin/Debug/net8.0
/src/OrderAccumulator.Tests/bin/Debug/net8.0
/src/OrderAccumulatorWorkerService/bin/Debug/net8.0
/src/OrderAccumulatorWorkerService/obj
/src/OrderAccumulatorWorkerService/store
